Repository AnnoDesigner/anno-designer, pull requests merged in 2019-05, with the labels that each got.

#41 Influence range option on main window
  AnnoDesigner/Localization.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Presets/BuildingInfo.cs
Labels: main window

#49 Presets search null reference exception fix
  AnnoDesigner/Localization.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/TreeViewExtensions.cs
  AnnoDesigner/TreeViewSearch.cs
Labels: bug

#74 code clean up/reorganization
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/AnnoDesigner.csproj
  AnnoDesigner/AnnoObject.cs
  AnnoDesigner/DataIO.cs
  AnnoDesigner/Extensions.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Presets/BuildingInfo.cs
  AnnoDesigner/Presets/IconNameMap.cs
  AnnoDesigner/PresetsLoader/IconLoader.cs
  AnnoDesigner/SerializableColor.cs
  AnnoDesigner/StringExtensions.cs
  AnnoDesigner/model/IconImage.cs
  AnnoDesigner/model/LayoutVersionContainer.cs
  AnnoDesigner/model/SavedLayout.cs
  AnnoDesigner/model/StatisticsBuilding.cs
  PresetParser/Extensions.cs
  PresetParser/NewFactionAndGroup1800.cs
  PresetParser/PresetParser.csproj
Labels: bug

#98 more unit tests (NewFactionAndGroup1800)
  PresetParser/NewFactionAndGroup1800.cs
  Tests/PresetParser.Tests/NewFactionAndGroup1800Tests.cs
Labels: PresetParser
