Repository AnnoDesigner/anno-designer, pull requests merged in 2019-04, with the labels that each got.

#14 - adjusted layout of about view
  AnnoDesigner/About.xaml
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/Localization.cs
  AnnoDesigner/MainWindow.xaml.cs
Labels: about window, main window

#15 update Extended WPF Toolkit
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/AnnoDesigner.csproj
  AnnoDesigner/DataIO.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Welcome.xaml.cs
  WPFToolkit.Extended.dll
  Xceed.Wpf.Toolkit.dll
Labels: main window

#21 Influence range basic
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/AnnoDesigner.csproj
  AnnoDesigner/AnnoObject.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Presets/BuildingInfo.cs
Labels: anno 1800, anno canvas, enhancement
