Repository AnnoDesigner/anno-designer, pull requests merged in 2020-07, with the labels that each got.

#212 Allow users to select all buildings of a type at once
  .gitignore
  AnnoDesigner/AnnoCanvas.xaml.cs
Labels: anno canvas, main window

#221 Add search icon to textbox
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/MainWindow.xaml
Labels: enhancement, main window

#230 Add Localize to StatusBarControls
  AnnoDesigner/MainWindow.xaml
Labels: bug, main window

#231 Implemented translating dynamic key
  AnnoDesigner/Localization/LocalizeBinding.cs
Labels: enhancement

#227 Add update settings page to preferences
  AnnoDesigner/App.xaml.cs
  AnnoDesigner/Commons.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Models/ICommons.cs
  AnnoDesigner/Models/PreferencePage.cs
  AnnoDesigner/PreferencesPages/ManageKeybindingsPage.xaml
  AnnoDesigner/PreferencesPages/UpdateSettingsPage.xaml
  AnnoDesigner/PreferencesPages/UpdateSettingsPage.xaml.cs
  AnnoDesigner/PreferencesWindow.xaml
  AnnoDesigner/PreferencesWindow.xaml.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  AnnoDesigner/ViewModels/ManageKeybindingsViewModel.cs
  AnnoDesigner/ViewModels/PreferencesViewModel.cs
  AnnoDesigner/ViewModels/UpdateSettingsViewModel.cs
  Tests/AnnoDesigner.Tests/BuildingSettingsViewModelTests.cs
  Tests/AnnoDesigner.Tests/MainViewModelTests.cs
Labels: enhancement, preferences window

#238 Add page to preferences for general settings
  AnnoDesigner.Core/Models/IAppSettings.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/App.xaml.cs
  AnnoDesigner/Commons.cs
  AnnoDesigner/Converters/UserDefinedColorToDisplayNameConverter.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/Models/AppSettings.cs
  AnnoDesigner/Models/UserDefinedColor.cs
  AnnoDesigner/Models/UserDefinedColorType.cs
  AnnoDesigner/PreferencesPages/GeneralSettingsPage.xaml
  AnnoDesigner/PreferencesPages/GeneralSettingsPage.xaml.cs
  AnnoDesigner/PreferencesPages/UpdateSettingsPage.xaml
  AnnoDesigner/Properties/Settings.Designer.cs
  AnnoDesigner/Properties/Settings.settings
  AnnoDesigner/ViewModels/GeneralSettingsViewModel.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  AnnoDesigner/app.config
  Tests/AnnoDesigner.Tests/UserDefinedColorToDisplayNameConverterTests.cs
Labels: preferences window

#220 #6 Implemented zooming around a point
  AnnoDesigner/AnnoCanvas.xaml.cs
Labels: anno canvas, enhancement

#245 Normalize letter casing across UI labels
  AnnoDesigner/Localization/Localization.cs
Labels: enhancement

#237 ManageKeybindings UI not refreshed fix
  AnnoDesigner.Core/Controls/ActionRecorder.xaml.cs
  AnnoDesigner.Core/CustomEventArgs/ActionRecorderEventArgs.cs
  AnnoDesigner.Core/Models/ExtendedMouseAction.cs
  AnnoDesigner.Core/Models/PolyGesture.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/Converters/ExtendedMouseActionToImageSourceConverter.cs
  AnnoDesigner/Converters/ExtendedMouseActionToVisibilityConverter.cs
  AnnoDesigner/Converters/MouseActionToVisibilityConverter.cs
  AnnoDesigner/HotkeyCommandManager.cs
  AnnoDesigner/HotkeyRecorderWindow.xaml.cs
  AnnoDesigner/Models/Hotkey.cs
  AnnoDesigner/Models/HotkeyInformation.cs
  AnnoDesigner/Models/ManageKeybindingsHotkeyDataTemplateSelector.cs
  AnnoDesigner/PreferencesPages/ManageKeybindingsPage.xaml
  AnnoDesigner/ViewModels/HotkeyRecorderViewModel.cs
  AnnoDesigner/ViewModels/ManageKeybindingsViewModel.cs
  Tests/AnnoDesigner.Core.Tests/PolyGestureTests.cs
  Tests/AnnoDesigner.Tests/ExtendedMouseActionToVisibilityConverterTests.cs
  Tests/AnnoDesigner.Tests/HotkeyCommandManagerTests.cs
  Tests/AnnoDesigner.Tests/MainViewModelTests.cs
  Tests/AnnoDesigner.Tests/MouseActionToVisibilityConverterTests.cs
Labels: preferences window

#252 Add close button to PreferencesWindow
  AnnoDesigner/PreferencesWindow.xaml
  AnnoDesigner/PreferencesWindow.xaml.cs
  AnnoDesigner/ViewModels/PreferencesViewModel.cs
Labels: enhancement, preferences window

#255 Do not throw LayoutFileVersionMismatchException on supported file version
  AnnoDesigner.Core/CoreConstants.cs
  AnnoDesigner.Core/Layout/Exceptions/LayoutFileUnsupportedFormatException.cs
  AnnoDesigner.Core/Layout/LayoutLoader.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  Tests/AnnoDesigner.Core.Tests/LayoutLoaderTests.cs
Labels: anno canvas, enhancement

#256 Separate out more mouse actions from AnnoCanvas into rebindable hotkeys
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/HotkeyCommandManager.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/Models/Hotkey.cs
  AnnoDesigner/PreferencesPages/ManageKeybindingsPage.xaml
  AnnoDesigner/ViewModels/ManageKeybindingsViewModel.cs
Labels: anno canvas, enhancement, preferences window

#253 Zoom sensitivity
  AnnoDesigner.Core/Models/IAppSettings.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/Constants.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/Models/AppSettings.cs
  AnnoDesigner/PreferencesPages/GeneralSettingsPage.xaml
  AnnoDesigner/Properties/Settings.Designer.cs
  AnnoDesigner/Properties/Settings.settings
  AnnoDesigner/ViewModels/GeneralSettingsViewModel.cs
  AnnoDesigner/app.config
Labels: enhancement, preferences window
