Repository AnnoDesigner/anno-designer, pull requests merged in 2021-06, with the labels that each got.

#331 Fix #201: move toggles to separate menu
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/MainWindow.xaml
Labels: enhancement, main window

#326 Show tree node if header matches search text
  AnnoDesigner/ViewModels/PresetsTreeViewModel.cs
Labels: enhancement, preset tree-view

#328 Localization for presets tree is moved to an external file
  AnnoDesigner.Core/CoreConstants.cs
  AnnoDesigner.Core/Presets/Loader/TreeLocalizationLoader.cs
  AnnoDesigner.Core/Presets/Models/ITreeLocalizationLoader.cs
  AnnoDesigner.Core/Presets/Models/LanguageContainer.cs
  AnnoDesigner.Core/Presets/Models/Translation.cs
  AnnoDesigner.Core/Presets/Models/TreeLocalizationContainer.cs
  AnnoDesigner/AnnoDesigner.csproj
  AnnoDesigner/App.xaml.cs
  AnnoDesigner/Localization/TreeLocalization.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  Presets/README.md
  Presets/treeLocalization.json
  Tests/AnnoDesigner.Core.Tests/AnnoDesigner.Core.Tests.csproj
  Tests/AnnoDesigner.Core.Tests/Testdata/TreeLocalization/1language_2translations.json
  Tests/AnnoDesigner.Core.Tests/TreeLocalizationLoaderTests.cs
  build/build.cake
Labels: enhancement, preset tree-view

#263 Fix #195: add versioning to layouts
  AnnoDesigner.Core/Helper/SerializationHelper.cs
  AnnoDesigner.Core/Layout/LayoutLoader.cs
  AnnoDesigner.Core/Layout/Models/ILayoutLoader.cs
  AnnoDesigner.Core/Layout/Models/LayoutFile.cs
  AnnoDesigner.Core/Layout/Models/LayoutFileVersionContainer.cs
  AnnoDesigner.Core/Layout/Models/LayoutVersionContainer.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/CustomEventArgs/FileLoadedEventArgs.cs
  AnnoDesigner/CustomEventArgs/OpenFileEventArgs.cs
  AnnoDesigner/CustomEventArgs/SaveFileEventArgs.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/Localization/TreeLocalization.cs
  AnnoDesigner/MainWindow.xaml
  AnnoDesigner/MainWindow.xaml.cs
  AnnoDesigner/Models/IAnnoCanvas.cs
  AnnoDesigner/ViewModels/LayoutSettingsViewModel.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  FandomTemplateExporter/FandomTemplateExporter/Export/FandomExporter.cs
  FandomTemplateExporter/FandomTemplateExporter/ViewModels/MainWindowViewModel.cs
  Tests/AnnoDesigner.Core.Tests/LayoutLoaderTests.cs
  Tests/AnnoDesigner.Tests/LayoutSettingsViewModelTests.cs
  Tests/AnnoDesigner.Tests/MainViewModelTests.cs
  Tests/AnnoDesigner.Tests/RoadSearchHelperTests.cs
Labels: enhancement

#330 Fix #20: implement undo/redo
  AnnoDesigner.Core/DataStructures/QuadTree.cs
  AnnoDesigner/AnnoCanvas.xaml.cs
  AnnoDesigner/Localization/Localization.cs
  AnnoDesigner/Models/IAnnoCanvas.cs
  AnnoDesigner/Properties/AssemblyInfo.cs
  AnnoDesigner/Undo/IUndoManager.cs
  AnnoDesigner/Undo/Operations/AddObjectsOperation.cs
  AnnoDesigner/Undo/Operations/ChangeObjectsColorOperation.cs
  AnnoDesigner/Undo/Operations/CompositeOperation.cs
  AnnoDesigner/Undo/Operations/IOperation.cs
  AnnoDesigner/Undo/Operations/MoveObjectsOperation.cs
  AnnoDesigner/Undo/Operations/OperationHelper.cs
  AnnoDesigner/Undo/Operations/RemoveObjectsOperation.cs
  AnnoDesigner/Undo/Operations/RotateObjectsClockwiseOperation.cs
  AnnoDesigner/Undo/UndoManager.cs
  AnnoDesigner/ViewModels/BuildingSettingsViewModel.cs
  AnnoDesigner/ViewModels/MainViewModel.cs
  Tests/AnnoDesigner.Tests/Undo/AddObjectsOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/ChangeObjectsColorOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/CompositeOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/MoveObjectsOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/RemoveObjectsOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/RotateObjectsClockwiseOperationTests.cs
  Tests/AnnoDesigner.Tests/Undo/UndoManagerTests.cs
Labels: enhancement
